.grid{
    display:grid;
    grid-template-columns: 100% 100% 100% 100%;
    grid-template-rows:100% 100% 100% 100% 100% 100% ;
  
    color:white;
    height: 200px;
    width:250px;
    margin-left: 20%;
    
   

}

.item{
    color:white;
    background-color: blue;
    margin-left:4px;
    margin-top: 4px;
    padding: 5px;
}
.profilepic{
    display: flex
}
nav{
 
 margin-left: 70%;
 background-color:yellowgreen;
 
}
#ppic{
    height: 160px;
    width: 160px;
    background-color: tomato;
    border-radius: 50%;
    margin-left: 20px;
}
.forms{
    margin-left:35%;
    color: tomato;
    height:60px;
    width:80px;
}
#submit{
    height:60px;
    width:80px;
}